@import "../vars";

.card {
    background-color: $color-background;
    padding: 24px 16px;
    margin: 24px 0;
    border-radius: 6px;
    position: relative;

    &.short-tip {
        margin-top: 0px;
        line-height: 1.3;
        font-size: 22px;
    }

    &.long-tip {
        line-height: 1.8;
        font-size: 18px;
    }

    & code {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        background: radial-gradient(circle at 30% 50%,rgb(255, 255, 255),rgb(246, 247, 248));
        color: $color-primary;
        padding: 2px 3px;
        border-radius: 2px;
        font-size: 90%;
        overflow-wrap: break-word;
    }

    & .category {
        position: absolute;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        top: -15px;
        padding: 4px 6px;
        border-radius: 50px;
    }

    & .resource-title {
        font-size: 12px;
        font-weight: 500;
        color: hsl(210, 5%, 38%);
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    & .resource-list {
        padding: 0;
        list-style: none;
    }

    & .resource-list a {
        list-style: none;
        font-size: 16px;
        font-weight: 400;
        color: hsl(210, 5%, 38%);
        text-decoration: none;
    }

    & .resource-list a:visited {
        color: hsl(210, 5%, 38%);
    }

    & .resource-list a:hover {
        color: hsl(210, 40%, 38%);
    }
}

.category.tip {
        color: hsl(161, 100%, 15%);
        background-color: hsl(161, 40%, 80%);
}

.card.tip {
    border: 3px solid hsl(161, 40%, 80%);

    & code {
        color: hsl(161, 100%, 15%);
        background-color: hsl(161, 40%, 80%);
    }
}

.category.pro-tip {
    color: hsl(216, 100%, 15%);
    background-color: hsl(216, 75%, 89%);
}

.card.pro-tip {
    border: 3px solid hsl(216, 75%, 89%);

    & code {
        color: hsl(216, 100%, 15%);
        background: radial-gradient(circle at 30% 50%,hsl(216, 75%, 89%),hsl(216, 75%, 89%));
    }
}

.category.you-should-know {
    color: hsl(46, 100%, 15%);
    background-color: hsl(46, 75%, 89%);
}

.card.you-should-know {
    border: 3px solid hsl(46, 75%, 89%);
}
